@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@layer components {
    .main-title {
        @apply font-poppins font-bold text-[22px] laptop1:text-[28px] desktop:text-[36px];
    }

    .secondary-title {
        @apply text-LightGray text-[1.5rem];
    }
}